extends layout

block content
	header
		.wrap.text-center
			h1 Jonathan Alvarez G.
			p.brief.block-center 
				| Hi! I'm an engineer with passion about frontend web development.

	.container
		section#works
			h2 Some works
			p.description
				| Those are my three most relevant and recent works

			article.work.row#ubicarsatelital
				div.content.col.half.inverse-flow
					h3.big-font Ubicar satelital
					p.description
						| Ubicar satelital proporciona un amplio portafolio de posibilidades para controlar su vehículo (carga o pasajeros) entregándole a sus clientes mucho más que un sistema de posicionamiento global.
					p 
						| Task: design and development

					p.view
						a(class="button green", href="#", target="_blank") Visit site

				figure.col.half

			article.work.row#invertirmejor
				div.content.col.half
					h3.big-font Invertir Mejor
					p.description
						| Invertir Mejor es fundada en 2004 por Juan Diego Gómez Gómez con una visión concreta: convertirse en un referente de alta calidad en lo que tiene que ver con educación financiera e inversiones por medio de Internet.
					p 
						| Task: frontend and backend development

					p.view
						a(class="button green", href="#", target="_blank") Visit site
				figure.col.half.inverse-flow

		section#about
			h2 More about me

		section#contact
			h2 Get in touch
