/*!
 * Main styles
 *
 */

@import "grid"
@import "utilities"

// Set recomemmended vendor prefixes from caniuse web page.
ks-vendors-prefixes = recommended

/* 
 * ------------------------------
 * General
 * ------------------------------
 */

// Normalize babe
normalize()

*,
*:before,
*:after
	box-sizing border-box

html
	font 100%/1.5 "Lato", serif
	font-weight 400
	text-rendering optimizeLegibility
	-webkit-font-smoothing antialiased

	@media (min-width: 40em)
		font-size 112%
	@media (min-width: 64em)
		font-size 120%

body
	background-color #fff
	color gray
	margin 0

a
	text-decoration none
	color red
	transition all 200ms
	&:hover
		color dark-red

input
textarea
	width 100%
	height auto
	border 2px solid lighten-gray
	color #898989
	padding-left .8rem
	transition border-color 300ms ease-out
	font-size 0.875rem // 14px
	&:focus
		outline none
		border-color darken(lighten-gray, 20%)

input
	height 45px

textarea
	height 10rem
	padding .8rem
	resize vertical

label
	font-weight bold

img
	max-width 100%
	height auto
	vertical-align middle

table
	width 100%
	tr
		border-bottom 1px solid light-gray
		&:hover
			background-color #f1f1f1

.title
	font-weight 900

// Hero
// ====================================
.hero
	color white
	height 100%
	background-color green
	background url("../../img/bg.jpg") center center no-repeat fixed
	background-size cover
	.title
		margin 0


// #Works
// ====================================

.work-item
	float left
	width 20%
	height 180px


	.work-item__desc
		display none
	