/* 
 * ------------------------------
 * Mixins'n'Vars
 * ------------------------------
 */

red			= #e53424
dark-red 	= #981509
gray 		= #646464
dark-gray 	= #323232
lighten-gray= #e2e2e2
light-gray 	= #aeaeae
marine		= #0aa1b0
dark-marine = #07717b
light-blue  = #f1f5f6
green       = #00B233
light-green = #00FF48

.visuallyhidden
    border 0
    clip rect(0 0 0 0)
    height 1px
    margin -1px
    overflow hidden
    padding 0
    position absolute
    width 1px

.screen-reader-text
  clip rect(1px, 1px, 1px, 1px)
  position absolute
  &:focus
    clip auto
    display block
    height auto
    line-height normal
    position absolute
    left 5px
    top 5px
    text-decoration none
    text-transform none
    width auto
    z-index 100000

.vertical-align
    width 100%
    display table
    > div
        display table-cell
        vertical-align middle

.island
    padding 3.5rem 0
    &.green
        background-color green
        color #fff
    &.dark
        background-color dark-gray
        color #fff

/*
 * Buttons
 */

button-color(color)
    color color
    border-color color
    &:hover
    &:focus
        color darken( color, 10%)
        border-color darken( color, 10%)

.button
    font-family "Lato", Arial
    font-weight 400
    padding 0.5rem 1.5rem
    border 1px solid gray
    transition background-color .3s ease-out
    &.white
        button-color(#fff)
    &.green
        button-color(green)

input[type="submit"]
button
    border none
       
/*
 * Lists, menus
 */

.list
    padding 0
    margin 0
    list-style-type none

/*
 * Text
 */

.left-text
	text-align left

.right-text
	text-align right

.center-text
	text-align center

.text-big
    font-size 1.7rem